body{
    margin: 0;
    background-color: #222;
    font-family:  'Work Sans', sans-serif;
    font-weight: 300;
}


h1 {
    margin: 2px;
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
}

section{
    background-color: #444;
    width: 100%;
    height: 80%;
    margin: auto;
    text-align: center;
}

.fotos{
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.card{
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

